{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %} My Portfolio {% endblock %}</title>
    <meta
      name="description"
      content="My Portfolio Application Built with DJANGO"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}" />
  </head>
  <body>
    <div id="container">
      {% block navBar %}
      <center>
        <!--- Our Navigation Bar   -->
        <div class="navbar">
          <div class="content">
            <!---Navbar Links -->
            <!--- Check if !User Authentication  & Authorization for NavbarLimk ViewPage-->
            <ul class="NavLinksContainer">
              <!-- If user in our Database for userProfile/admin is Authenticated => Display NavbarLinks -->
              {% block userlinks %}
            {% if user.is_authenticated %}
              <li><a class="brand" href="{% url 'HomeView' %}"> Home </a></li>
              <li>
                <a class="link" href="{% url 'ListAccounts' %}">
                  Account-List
                </a>
              </li>
              <li>
                <a class="link" href="{% url 'MapDetails' %}"> Map-Location </a>
              </li>
              <li>
                <a class="link" href="{% url 'ProfileDetailsView' %}">
                  Profile-Details
                </a>
              </li>

              {% else %}
              <li>
                <a class="navbar-link" href="{% url 'LoginView' %}"
                  >{{ username }} logout
                </a>
              </li>
              <li>
                <a class="navbar-link" href="{% url 'LoginView' %}"> login </a>
              </li>
            {% endif %} 
              {% endblock %}
            </ul>
          </div>
        </div>
      </center>
      {%endblock%}

      <!-- Displaying our Data  -->
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
