{% extends 'base/base.html' %}
{%block title%} REGISTRAION-FORM | Portfolio Application {% endblock %}


{% block content%}
<div class="formContainer">
    <span class="HeaderTextContainer">
   <h1 class="HeaderText"> SIGN-UP | KARTOZA PORTFOLIO APPLICATION  </h1>
    </span>
    <br/>
<form row=4 class="form-row" action="/userProfileForm/" method="get">

<!--Username form Field-->
    <label for="username"> Username </label>
    <input id="username" size=55 type="text" name="username" maxlength="30" required>

<!--userEmail Field-->
<label for="Email"> e-mail </label>
<input id="Email" size=55 type="email" name="Email" required>

<label for="phone_number"> Phone Number </label>
<input id="phone_number" size=55 type="text" name="phone_number" maxlength="10" required="Please put in SA valid Numbers">

<!--Username form Field-->
<label for="home_address"> Home Address </label>
<input id="home_address"  size=55 type="text" name="home_address" required>

<label for="location"> Location </label>
<input id="location" size=55 type="text" name="location" required>


<!--Password Form Field -->
    <label for="Password"> Password </label>
    <input id="Password" size=55 type="Password" name="Password" required>


<!--submit form button-->
<input class="button" type="submit" size=35 value="Sign-Up">
</form>

{% endblock%}