/* Author: Olwethu Theo Nyondo */ 
/* Date: 02 May 2022 */ 
/* link: portfolio.CSS script for Layout */ 


* {
justify-content: center;
margin:auto;
padding:10px 15px;
}
.form-row{
    display:flexbox;
    justify-content: center;
    margin:auto;
}
.container{
    display: flex;
    justify-content: center;
}


form{
    display:flexbox;
    justify-content: center;
    padding-bottom:5px;
}

/* All HTML Input Element styling */

input{
    display: -moz-box;
    padding-bottom:15px;
    width: 100%;
    justify-content: center;
    height: 40px;
    color: rgba(102, 102, 102, 0.699);
    box-shadow: 3px 8px 18px 0px rgba(36, 35, 35, 0.507);
    border-radius: 10px;
    border: none;
}

label{
    display:inline-flex;
    justify-content:flex-start;
    padding: 15px;
    color: rgba(71, 71, 71, 0.514);
    text-transform: capitalize;
    
}
.signupText{
    display: flex ;
    justify-content: center;
    color: rgb(248, 248, 248);
    font-size: 62px;
    font-weight: 900;
    border-width: .5px;
    border-radius:15px;
    box-shadow: 3px 8px 18px 0px rgba(36, 35, 35, 0.616);

}
.signinText{
    display: flex ;
    justify-content: center;
    color: rgba(82, 82, 82, 0.452);
    font-size: 62px;
    font-weight: 900;
    border-width: .5px;
    border-radius:15px;
    box-shadow: 3px 8px 15px 0px rgba(36, 35, 35, 0.616);

}
#signIn{ 
    display: flex;
    justify-content: center;
    width:300px;
    height: 50px;
    background-color: rgba(241, 241, 241, 0.719);
    color: rgb(68, 68, 68);
    float:none;
}
.button,#signin :hover{
    background-color: rgba(1, 5, 24, 0.527);
    color: rgba(255, 255, 255, 0.678);
    transition: .5;
    
}
h1 {
    display: flex;
    justify-items: center;
    justify-content: center;
    color: rgba(53, 53, 53, 0.596);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
.HeaderTextContainer{
    display: flexbox;
    background-color: rgba(218, 218, 218, 0.562);
    color: rgba(83, 80, 80, 0.507);
    justify-content: center;
}

/* Navbar Styling ul>li>a Elements  */
.navbar{
    display: flex;
    position:sticky;
    padding: 15px;
    padding-top: 1.5px;
    justify-content: space-evenly;
    justify-items: center;
}

li{
    display: flexbox;
    padding: 20px;
    padding-top: 20px;
    justify-content: center;
width: 35px;
height: 45px;
background-color: rgba(252, 243, 243, 0.075);
box-shadow: 15px 3px 15px 0px rgba(119, 119, 119, 0.616);

}
li:hover{
    background-color: rgba(0, 0, 0, 0.63);
    color: rgb(255, 255, 255);
}

ul>li{
text-decoration-line: none;
display:inline;
display: inline-flexbox;
text-transform:capitalize;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(28, 31, 31);

}
a{
    text-decoration: none;
    color: rgb(90, 88, 88);
}