/* Author: Olwethu Theo Nyondo */ 
/* Date: 02 May 2022 */ 
/* link: portfolio.CSS script for Layout */ 


* {
justify-content: center;
margin:auto;
padding: 10px 15px;
}
.form-row{
    display:flexbox;
    justify-content:center;
    margin:auto;
}
.formContainer{
    display:flex;
    justify-content: center;
}


form{
    display:grid;
    justify-content: center;
    padding: 5px 35px;
}

/* All HTML Input Element styling */

input{
    display:flex;
    padding: 0px  35px;
    width: 100%;
    justify-content: center;
    height: 40px;
    color: rgba(39, 39, 39, 0.699);
    box-shadow: 5px 8px 20px 0px rgba(36, 35, 35, 0.507);
    border-radius: 12px;
    border: none;
}

label{

    display:flexbox;
    justify-content:start;
    padding:5px 15px;
    color: rgba(71, 71, 71, 0.514);
    text-transform: uppercase;
    
}




.signupText{
    display: flexbox ;
    justify-content: center;
    color: rgba(233, 0, 0, 0.801);
    font-size: 62px;
    font-weight: 900;
    border-width: .5px;
    border-radius:15px;
    box-shadow: 3px 8px 18px 0px rgba(227, 53, 53, 0.616);

}




.signinText{
    display: flex ;
    justify-content: center;
    color: rgb(70, 67, 67);
    font-size: 62px;
    font-weight: 900;
    border-width: .5px;
    border-radius:15px;
    box-shadow: 3px 8px 15px 0px rgba(36, 35, 35, 0.616);

}



#signIn{ 
    display: flex;
    justify-content: center;
    width:300px;
    height: 50px;
    background-color: rgba(213, 29, 29, 0.719);
    color: rgb(255, 255, 255);
    float:none;
}


.button{
display: flexbox;
width:150px;
height:fit-content;
justify-content: center;
}
.button:hover{
    display: flexbox;
    background-color: rgba(1, 5, 24, 0.892);
    color: rgba(255, 255, 255, 0.678);
    transition: .9s;
    
}


h1 {
    display: flex;
    justify-content: center;
    color: rgba(255, 247, 247, 0.842);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}


.HeaderTextContainer{
    display: flexbox;
    background-color: rgba(32, 31, 31, 0.562);
    color: rgb(255, 251, 251);
    justify-content: center;
}

/* Navbar Styling ul>li>a Elements  */
.navbar{
    display: flex;
    position:static;
    padding: 15px;
    padding-top: 15px;
    justify-content: space-between;
    justify-items: center;
}

li{
    display: flex;
    padding: 20px 25px;
    padding-top: 5px;
    justify-content: center;
width: 25px;
height: 40px;
background-color: rgba(15, 15, 15, 0.178);
box-shadow: 15px 3px 15px 0px rgba(119, 119, 119, 0.616);
}



li:hover{
    background-color: rgba(0, 0, 0, 0.566);
    color: rgba(255, 255, 255, 0.17);
    font-weight: 700;
}

ul>li{
text-decoration-line: none;
display: inline;
text-transform:capitalize;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgba(8, 8, 8, 0.709);

}



a{
    text-decoration: none;
    display:inline-flexbox;
    justify-content: center;
    padding: auto;
    margin: 5px;
    color: rgba(118, 116, 116, 0.5);
}
a:hover{
    color:  white;
}